---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout hideMainNavigation={true}>
	
		<div
			class="flex flex-row flex-wrap align-items-center justify-content-evenly"
		>
			Hello World!
		</div>
</DefaultLayout>

<style>
	.feature-card {
		border: solid 3px transparent;
	}
	.feature-card:hover {
		background-color: wheat;
		border-color: goldenrod;
	}
</style>
